$base : #eee;
$alt-1: #ddd;
$alt-2: #fff;

*{
  box-sizing: content-box;
}

body{
  background-color: $base;
}

.tile{
  width: 100px;
  height: 100px;
  background-color: black;
  display: inline-block;
  overflow: auto;
  margin: 0 5px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

#game-container{
  .row{
    min-width: 900px;
  }
}

.normal-background{
  background: #eee;
}
