$base: #ccc;
$alt-1: #ddd;

* {
  box-sizing: border-box;
}

body {
  background-color: $base;
}
@font-face {
  font-family: 'SuperMario256';
  src: url('../SuperMario256.ttf');
}

#title {
  font-family: "SuperMario256";
  font-size: 56px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-title,
.mario-font {
  font-family: "SuperMario256";
}

.tile {
  width: 100px;
  height: 100px;
  background: url("../images/block.png");
  display: inline-block;
  overflow: hidden;
  margin: 0 5px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border-radius: 5px;
  padding-top: 15px;

  .flipped {
    background: #fff;
  }
}

#game-container {
  margin-top: 5%;

  .row {
    // width: 800px;
  }
}

#left-panel,
#right-panel {
  margin-top: 5%;
}

.normal-background {
  background: #eee;
}

.instruction-img {
  max-width: 100px;
}

.unit-health {
  font-size: 20px;
  position: relative;
  bottom: 4px;
  left: 38px;
}

#dev-buttons {
  display: none;
}

#toggle-dev {
  position: absolute;
  top: 0;
  right: 0;
}

#yoshi-button {
  display: none;
}

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 135%;
  min-height: 135%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.modal-item {
  border: 1px solid $alt-1;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
}

.tile:hover {
  border: 3px solid #fa4408;
  border-radius: 5px;
  cursor: crosshair;
}

#status-text {
  width: 180px;
  height: 250px;
  overflow-y: scroll;
  overflow-x: auto;
  background: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}

#yoshi-button {
  background: url("../images/yoshi-button.png");
  background-size: contain;
  width: 105px;
  height: 105px;
  border: 2px solid #000;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    border: 3px dashed #2FF62F;
    opacity: 0.8;

    #use-yoshi {
      display: block;
    }
  }
}

#use-yoshi {
  display: none;
  font-size: 1.2em;
  color: #000;
  position: relative;
  top: 73px;
  left: 5px;
  background: rgba(255,255,255,0.6);
}

video {
  opacity: 0.5;
}

#mushroom-icon {
  display: none;
  background: url("../images/mushroom.png");
  background-size: contain;
  width: 105px;
  height: 105px;
  border: 2px solid #000;
  border-radius: 5px;

  span {
    font-size: 1.2em;
    color: #000;
    position: relative;
    top: 77px;
    left: 18px;
    background: rgba(255,255,255,0.6);
  }
}

.bullet-list {
  padding-left: 15px;
}

.modal-footer {
  margin-bottom: 40px;
}

.modal-btn {
  display: inline-block;
  margin-top: 20px;

  &:focus {
    border: 3px solid #000;
    font-weight: 700;
  }
}

.whack{
  border: 3px solid green;

}

.dont-whack{
  border: 3px solid red;
}

.border-example{
  display: inline-block;
  width: 80px;
  height: 100px;
  vertical-align: middle;
  margin: 15px;
}


#custom-fields{
  display: none;
  float: right;
  margin-right: 10px;
  ul{
    padding-left: 0px;
    list-style: none;
    li{
      margin-top: 5px;
    }
  }
}
